#appHeader {
  position: relative;
  width: 100%;
  height: 72px;
  color: #FFFFFF;
  background-color: #03A9F4;
  line-height: 72px;
  font-size: 36px;

  span.title-icon {
    font-weight: 400;
    margin: 0 40px;
  }

  h1 {
    display: inline-block;

    span.title-bold {
      font-weight: 700;
    }

    span.title-normal {
      font-weight: 300;
    }
  }
}
