b{
  font-weight: 400;
}

div.error-message {
  font-size: 22px;
  color: #F44336;
  margin: 20px;

  span.error-icon {
    display: inline-block;
    line-height: 30px;
    margin-right: 10px;
  }

  span.error-title {
    font-weight: 400;
    display: inline-block;
    line-height: 30px;
  }

  span.error-description {
    margin-top: 10px;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
  }
}
